USE [master]
GO
/****** Object:  Database [Parkings]    Script Date: 29/5/2023 10:36:00 ******/
CREATE DATABASE [Parkings]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Parkings', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Parkings.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Parkings_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Parkings_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parkings].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parkings]
GO
/****** Object:  User [Parking]    Script Date: 29/5/2023 10:36:00 ******/
CREATE USER [Parking] FOR LOGIN [Parking] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 29/5/2023 10:36:00 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Parking]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 29/5/2023 10:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](max) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Dni] [int] NOT NULL,
	[Telefono] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Garage]    Script Date: 29/5/2023 10:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Garage](
	[IdGarage] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Capacidad] [int] NULL,
	[Horarios] [varchar](50) NULL,
	[Precios] [int] NULL,
	[Disponibilidad] [int] NULL,
	[FkCliente] [int] NULL,
 CONSTRAINT [PK_Garage] PRIMARY KEY CLUSTERED 
(
	[IdGarage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingresoEgresos]    Script Date: 29/5/2023 10:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingresoEgresos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FkGarage] [int] NOT NULL,
	[Patente] [varchar](50) NOT NULL,
	[FechaEntrada] [date] NOT NULL,
	[FechaSalida] [date] NULL,
	[HoraEntrada] [time](7) NOT NULL,
	[HoraSalida] [time](7) NULL,
 CONSTRAINT [PK_ingresoEgresos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Apellido], [Email], [Contraseña], [Dni], [Telefono]) VALUES (1, N'Pepe', N'Papa', N'Pepe@gmail.com', N'pepesi', 46956552, 1127711623)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Garage] ON 

INSERT [dbo].[Garage] ([IdGarage], [Nombre], [Direccion], [Capacidad], [Horarios], [Precios], [Disponibilidad], [FkCliente]) VALUES (20, N'garagsito', N'acoyte932', 23, N'9:00-22:00', 123, 2, 1)
SET IDENTITY_INSERT [dbo].[Garage] OFF
GO
SET IDENTITY_INSERT [dbo].[ingresoEgresos] ON 

INSERT [dbo].[ingresoEgresos] ([Id], [FkGarage], [Patente], [FechaEntrada], [FechaSalida], [HoraEntrada], [HoraSalida]) VALUES (1, 20, N'ab 123 cd', CAST(N'2023-05-29' AS Date), CAST(N'2023-05-29' AS Date), CAST(N'06:00:00' AS Time), CAST(N'18:00:00' AS Time))
INSERT [dbo].[ingresoEgresos] ([Id], [FkGarage], [Patente], [FechaEntrada], [FechaSalida], [HoraEntrada], [HoraSalida]) VALUES (2, 20, N'cd 123 gd', CAST(N'2023-05-29' AS Date), CAST(N'2023-05-29' AS Date), CAST(N'06:00:00' AS Time), CAST(N'18:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[ingresoEgresos] OFF
GO
ALTER TABLE [dbo].[Garage]  WITH CHECK ADD  CONSTRAINT [FK_Garage_Cliente] FOREIGN KEY([FkCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Garage] CHECK CONSTRAINT [FK_Garage_Cliente]
GO
USE [master]
GO
