USE [master]
GO
/****** Object:  Database [Parkings]    Script Date: 15/5/2023 10:40:03 ******/
CREATE DATABASE [Parkings]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Parkings', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Parkings.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Parkings_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Parkings_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Parkings].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Parkings]
GO
/****** Object:  User [alumno]    Script Date: 15/5/2023 10:40:03 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 15/5/2023 10:40:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](max) NOT NULL,
	[Contraseña] [varchar](50) NOT NULL,
	[Dni] [int] NOT NULL,
	[Telefono] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Garage]    Script Date: 15/5/2023 10:40:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Garage](
	[IdGarage] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Horarios] [date] NOT NULL,
	[Precios] [int] NOT NULL,
	[Disponibilidad] [int] NOT NULL,
 CONSTRAINT [PK_Garage] PRIMARY KEY CLUSTERED 
(
	[IdGarage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GarageCliente]    Script Date: 15/5/2023 10:40:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GarageCliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdGarage] [int] NOT NULL,
 CONSTRAINT [PK_GarageCliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GarageCliente]  WITH CHECK ADD  CONSTRAINT [FK_GarageCliente_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[GarageCliente] CHECK CONSTRAINT [FK_GarageCliente_Cliente]
GO
ALTER TABLE [dbo].[GarageCliente]  WITH CHECK ADD  CONSTRAINT [FK_GarageCliente_Garage] FOREIGN KEY([IdGarage])
REFERENCES [dbo].[Garage] ([IdGarage])
GO
ALTER TABLE [dbo].[GarageCliente] CHECK CONSTRAINT [FK_GarageCliente_Garage]
GO
USE [master]
GO
